/* topbar */

menu.topbar {
    background-color: var(--primary);
    grid-row: 1/2;
    grid-column: 1/3;
    z-index: 5;
}

/* sidebar */

menu.sidebar {
    background-color: var(--primary-200);
    grid-row: 2/3;
    grid-column: 1/2;
    z-index: 4;
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    padding: 1rem 0;
}

.sidebar-item {
    height: 2.5rem;
    padding: .25rem .75rem;
    margin-right: 1.25rem;
    background-color: var(--background);
    border-radius: 0 .5rem .5rem 0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    text-transform: uppercase;
}

.sidebar-label {
    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sidebar-primary-label,
.sidebar-secondary-label {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    text-align: center;
}

.sidebar-primary-label {
    font-size: 1rem;
    font-weight: bold;
}

.sidebar-secondary-label {
    font-size: .75rem;
    font-weight: light;
}